@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Poppins:ital,wght@0,500;1,400;1,500&display=swap");

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,500&family=Playfair+Display:wght@400;500&family=Poppins:ital,wght@0,500;1,400;1,500&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

a{
  color: white;
}

nav{
  /* display: flex; */
  background-color: rgba(128, 128, 128, 0.621);
  justify-content: space-around;
  width: 80%;
  margin: auto;
  align-items: center;
  border-radius: 8px;
  position: fixed;
  top: 50px;
 left: 50%;
 transform: translate(-50%);

 z-index: 1;
}
nav ul{
  display: flex;
  justify-content: space-around;
}
nav ul li{
  padding: 10px 15px;
}
nav ul li:hover{
  background-color: black;
  color: white;
}

.nav_icon_img img{
  width: 10%;
  display: none;
}

.togglebar{
  display: none;
}




.hero_section {
  background: url(images/happy-loving-couple-bakers-drinking-coffee-looking-notebook.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-color: rgb(219, 9, 9);
  position: relative;
  overflow: hidden;
  min-height: 1000px;
  text-align: center;
}


.hero_section::after {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: var(--border-radius-medium);
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -50%) rotate(45deg);
  width: 270px;
  height: 350px;
  pointer-events: none;
}



.hero_section .container {
  position: relative;
  top: 450px;
  z-index: 9;
}
.small-text{
  color: orange;
}

.container h1{
  color: white;
  font-size: 3vw;
}
.container p{
  color: rgb(238, 10, 10);
}

#about{
  background-color: rgb(84, 66, 1);
  min-height: 700px;
  padding: 50px 0px;

}

#about .about_container{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
  align-items: center;
}

.custom-video {
  border-radius: 10px;
  width: 90%;
  height: 600px;
  object-fit: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(188, 108, 37, 1));
}

.about_content{
color: white;
line-height: 30px;
  
}
.about_content>em{
  font-weight: 600;
  letter-spacing: 2px;
  
}
.about_content h2{
  padding: 40px 0px;
  font-size: 3vw;
}

.about_content p{
  padding: 20px 0px;
}

.about_content p a{
  color: red;
  cursor: pointer;
  padding: 5px;
  border: 1px solid orange;
  border-radius: 20px;
}

.about_content>a{
  background-color: orange;
  padding: 10px;
  border-radius: 50px;
  color: black;
  font-weight: 500;
  border: 1px solid whitesmoke;
  transition: .9s ease-in-out;
}
.about_content>a:hover{
  background-color: white;
  transform: scale(1.1);
}


#hero_section{
  min-height: 700px;
  background-color: rgb(175, 125, 31);
  color: white;
}

#hero_section .heading{
  text-align: center;
  padding: 50px 0px;
}

.hero_Of_section{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.image_block img{
  width: 50%;
}

.image_block{
  position: relative;

}
.image_block .image_content{
  position: absolute;
  left: 0;
  bottom: 50px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(188, 108, 37, 1));
  min-height: 200px;
  width: 100%;

}




























@media screen and (min-width:200px) and (max-width:420px) {
  #about>.about_container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 40px;
    align-items: center;
  } 
}

